@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@import "https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script";

.bricks--section > div {
  max-width: 100%;
}

#rd-column-joq3m2nz > div {
  padding: 0!important;
}

@font-face {
  font-family: Coolvetica;
  src: url(/fonts/coolvetica/coolvetica_bold.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Coolvetica;
  src: url(/fonts/coolvetica/coolvetica_bold_italic.otf);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Coolvetica;
  src: url(/fonts/coolvetica/coolvetica_normal.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Coolvetica;
  src: url(/fonts/coolvetica/coolvetica_semibold.otf);
  font-style: normal;
  font-weight: 700;
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src:
    url('/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/poppins-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh !important;
  min-width: 100% !important;
}


html,
body {
  height: 100%;
}

body {
  color: #252934;
  background: #fafafa;
  font-size: 62.5%;
  font-family: "Overlock", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a,
a:visited {
  color: #252934;
  font-size: 1.4rem;
  text-decoration: none;
  transition: 200ms;
}

a:hover,
a:active {
  color: #f300b4;
}

/*
    NAV BAR
*/

.nav__active {
  background: #002b48;
  background: linear-gradient(166deg, rgba(0, 43, 72, 1) 0%, rgba(119, 60, 64, 1) 76%, rgb(127 94 94) 100%);
}

#lp_navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

#lp_navbar .nav_wrapper {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 0 2rem;
  flex-direction: row;
}

#lp_navbar .nav_wrapper .edmzn_logo {
  cursor: pointer;
  width: 150px;
}

#lp_navbar .nav_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#lp_navbar .nav_buttons .button {
  height: 100%;
  display: flex;
  align-items: center;
}

#lp_navbar .nav_buttons .button .menu_icon {
  float: right;
    display: block;
}

#lp_navbar .nav_buttons .button:hover {
  animation: fade-in 0.1s ease-out 0s 1 normal forwards;
  -webkit-animation: fade-in 0.1s ease-out 0s 1 normal forwards;
}

@keyframes fade-in {
  0% {
    background-color: transparent;
    border-bottom: 0;
  }

  100% {
    background-color: #00000030;
    border-bottom: 4px solid rgb(0 109 182);
  }
}

#lp_navbar .nav_buttons a {
  color: #fff;
  width: auto;
  font-size: 1.7em;
  font-family: "Montserrat";
  text-align: center;
  display: inline;
  flex: none;
  margin: 0 1em;
}

#lp_navbar .nav_buttons a:hover {
  color: #ffffff !important;
}

/*
    PRIMEIRA SEÇÃO
*/

#lp_init__section {
  background: #202736;
  background: linear-gradient(to bottom, #002d48 0%, #001624 80%);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#lp_init__section::before {
  content: "";
  position: absolute;
  background: url('https://d335luupugsy2.cloudfront.net/cms/files/94431/1661171978/$r775kzaax3m');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  opacity: 0;
  animation: background-move-in 1000ms 300ms forwards;
  -webkit-animation: background-move-in 1000ms 300ms forwards;
}

@keyframes background-move-in {
  from {
    background-position-y: -100px;
  }

  to {
    opacity: 1;
    background-position-y: 0;
  }
}

#lp_init__section .lp_face__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#lp_init__section .lp_face__container .contend {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: slit-in-vertical 1s ease-in 0s 1 normal forwards;
}

@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }

  50% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateZ(0) rotateY(0);
  }
}

#lp_init__section .face_fx_container .face_fx_container {}

#lp_init__section .lp_face__container .face_fx_container h1 {
  color: #ba111e;
  font-size: 14em;
  font-family: "Coolvetica";
  letter-spacing: 3px;
  line-height: 0.75em;
  white-space: nowrap;
  overflow: hidden;
  animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
  -webkit-animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
}

#lp_init__section .lp_face__container .face_fx_container h2 {
  color: #002d48;
  font-size: 10em;
  font-family: "Coolvetica";
  letter-spacing: 2px;
  line-height: 0.75em;
  white-space: nowrap;
  overflow: hidden;
  animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
  -webkit-animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
}

#lp_init__section .lp_face__container .face_fx_container h3 {
  color: #fff;
  font-size: 4em;
  font-family: "Coolvetica";
  letter-spacing: 1px;
  line-height: 0.75em;
  white-space: nowrap;
  overflow: hidden;
  animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
  -webkit-animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
}

#lp_init__section .lp_face__container .face_fx_container h3 .italic {
  font-style: italic;
  font-weight: bold;
}

#lp_init__section .lp_face__container .face_fx_container h4 {
  font-family: 'Montserrat', cursive;
  font-size: 3.3em;
  font-weight: 400;
  color: #ffffff;
}

@keyframes digitacao {
  0% {
    width: 0;
  }
}

@keyframes barra {
  50% {
    border-color: transparent;
  }
}

#lp_init__section .lp_face__container .autora_img img {
  width: 300px;
}

#lp_init__section .lp_face__container .bottom_bar_container {
  display: block;
  width: 100%;
}

#lp_init__section .lp_face__container .bottom_bar_container .b_contend {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

#lp_init__section .bottom_bar_container .lp_mzncursos_logo_barra_azul {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  position: relative;
  background-color: #012E40;
  background: linear-gradient(100deg, rgba(182, 182, 182, 1) 0%, rgb(118 32 46) 71%, rgb(0 47 75 / 0%) 100%);
  z-index: 10;
  box-shadow: inset #004967 9px 6px 220px -7px;
  flex-direction: row;
  align-items: center;
  padding: 1.5em 0;
  justify-content: center;
}

#lp_init__section .bottom_bar_container .lp_mzncursos_logo_barra_azul .mzn_cursos_logo {
  max-width: 15%;
  height: auto;
}

#lp_init__section .bottom_bar_container .lp_barra_verm_container {
  display: block;
  height: 100%;
  position: relative;
  top: -100%;
}

#lp_init__section .bottom_bar_container .lp_barra_verm_container .lp_mzncursos_logo_barra_verm {
  height: 100%;
  width: 20%;
  bottom: 0;
  text-align: center;
  position: relative;
  background-color: #BF1534;
  clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
  z-index: 12;
}

#lp_init__section .lp_mzncursos_barra_nome_autor {
  height: 50px;
  width: 40%;
  text-align: center;
  display: flex;
  position: relative;
  background-color: #BF1534;
  background: linear-gradient(110deg, rgba(191, 21, 52, 1) 0%, rgb(134 0 0) 100%);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
  z-index: 10;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 4em;
  color: #fff;
}

#lp_init__section .lp_mzncursos_barra_nome_autor .nome {
  font-family: 'Montserrat', cursive;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
}

#lp_init__section .lp_mzncursos_barra_nome_autor .cv {
  font-family: 'Montserrat', cursive;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1;
  color: #fff;
}





/*
#lp_init__section .lp_face__container img {
  width: fit-content;
  max-width: 500px;
  position: absolute;
  opacity: 0;
  transform: translate(0, -50%);
  top: 50%;
  animation: lp-face-img-move-in 1000ms 800ms forwards;
  -webkit-animation: lp-face-img-move-in 1000ms 800ms forwards;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}*/

@keyframes lp-face-img-move-in {
  from {
    left: -100%;
  }

  to {
    opacity: 1;
    left: 5%;
  }
}

#lp_sobre .section_container {
  background-color: #f2f2f2;
  color: #616161;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#lp_sobre .section_container .line {
  height: 2px;
  margin-bottom: 2em;
  background: linear-gradient(110deg, rgba(191, 21, 52, 0) 0%, rgb(201 0 0) 50%, rgba(93, 0, 0, 0) 100%);
}

#lp_sobre .section_container .section_title {
  font-family: 'Montserrat', cursive;
  font-size: 4.2em;
  font-weight: 500;
  color: #BF1534;
  text-align: center;
}

#lp_sobre .section_container .text {
  font-family: 'DM Sans', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #26272b;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  text-align: left;
}

#lp_init__section .lp_info__container {
  /*width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;*/
  max-width: 500px;
  position: absolute;
  right: 0;
  top: 50%;
  right: 25%;
  opacity: 0;
  transform: translate(0, -50%);
  -webkit-animation: lp-info-fade-in 1000ms 800ms forwards;
  animation: lp-info-fade-in 1000ms 800ms forwards;
}

@keyframes lp-info-fade-in {
  from {
    right: 0;
  }

  to {
    opacity: 1;
    right: 25%;
  }
}

#lp_init__section .lp_info__container h1 {
  padding-bottom: 1.5rem;
  color: #fff;
  line-height: 1.9rem;
  font-weight: 100;
}

#lp_init__section .lp_face__container .lp_buttons {
  display: flex;
  margin-top: 1rem;
}

#lp_init__section .lp_face__container .lp_buttons .btn_more_info {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fafafa;
  border-radius: 4px;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 10px;
}

#lp_init__section .lp_face__container .lp_buttons .btn_signup {
  background: #ba111e;
  border: 1px solid #ba111e66;
  border-radius: 4px;
  color: #ffdcdc;
  font-weight: bold;
  margin: 0 10px;
}

#lp_init__section .lp_face__container .lp_buttons a,
#lp_init__section .lp_face__container .lp_buttons a:visited {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fafafa;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}

#lp_init__section .lp_face__container .lp_buttons .btn_more_info:hover,
#lp_init__section .lp_face__container .lp_buttons .btn_more_info:active,
#lp_init__section .lp_face__container .lp_buttons .btn_signup:hover,
#lp_init__section .lp_face__container .lp_buttons .btn_signup:active {
  border: 1px solid #ba111e;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 14px 9px 100px -10px #ff0014;
}

#lp_init__section .lp_face__container .lp_buttons .btn_signup.cta,
#lp_init__section .lp_face__container .lp_buttons .btn_signup.cta:visited {
  background: #ba111e;
  border: 1px solid transparent;
  color: #fafafa;
  font-weight: bold;
}

#lp_init__section .lp_face__container .lp_buttons .btn_signup.cta:hover,
#lp_init__section .lp_face__container .lp_buttons .btn_signup.cta:active {
  background: transparent;
  border: 1px solid #ba111e;
}

#lp_init__section .lp_face__container .lp_buttons .btn_signup:first-child {
  margin-right: 1rem;
}

/*

 2 PAGINA DA LP

*/
#lp_2page {
  height: 100%;
  min-height: 100vh;
  position: relative;
  background: #fff;
  /*-webkit-clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);
  clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);*/
  z-index: 5;
}




#lp_sobre {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  background-color: #f2f2f2;
  padding: 5em 5%;
}

#lp_sobre .event__description {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  padding-top: 5em;
}

#lp_sobre .box .container .i_icon {
  font-size: 32px;
  color: #fff;
  padding: 0.2em;
  border-radius: 6px;
  background-color: #bf1534;
}

#lp_sobre .box .container .top_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#lp_sobre .event__description .box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2em;
}

#lp_sobre .event__description .box .icon span {
  font-size: 42px;
  color: #252934;
  margin-bottom: 0.6em;
  padding: 0.4em;
  border-radius: 50px;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 1px;
}

#lp_sobre .event__description .box .container {
  display: block;
  position: relative;
  max-width: 400px;
  min-height: 100%;
  background-color: #ffffff54;
  padding: 2em;
  border-bottom: 3px #bf1534 solid;
  border-radius: 5px;
  box-shadow: #d4d4d4 0 0 17px 0px;
}

#lp_sobre .event__description .box .container:hover {
  border-color: #002d48;
  box-shadow: #39393947 -5px -2px 16px -7px;
  transition: 200ms;
}

#lp_sobre .event__description .box .container .title {
  font-family: 'Montserrat', cursive;
  font-size: 2.5em;
  font-weight: 600;
  color: #b30e2c;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

#lp_sobre .event__description .box .container .title .line {
  border-bottom: 1px #9a9a9a solid;
}

#lp_sobre .event__description .box .container .text {
  font-family: 'DM Sans', cursive;
  font-size: 1.8em;
  font-weight: 100;
  color: #252934;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  text-align: justify;
}

/*

  SEÇÃO PUBLICO ALVO

*/

#lp_publico_alvo {
  background-color: #f2f2f2;
  color: #616161;
  padding: 100px 50px 100px 19%;
}

#lp_publico_alvo .section_container .section_title {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 600;
  color: #0d0d0d;
}

#lp_publico_alvo .section_container .text {
  font-family: 'DM Sans', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #252934;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  text-align: justify;
}

#lp_programa {
  height: 100vh;
  padding: 10% 10% 10% 19%;
}

#lp_programa .text_container {
  padding-left: 1em;
  border-left: 1px solid #a2a2a2;
}

#lp_programa .text_container .title {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 300;
  color: #0d0d0d;
  margin-bottom: 0.2em;
}

#lp_programa .text_container .text {
  font-family: 'DM Sans', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #252934;
  line-height: 1em;
  margin-bottom: 0.4em;
  text-align: justify;
}

#lp_programa .text_container .text.dest {
  font-family: "Montserrat", sans-serif;
  color: #2f2f2f;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0;
  margin-top: 1em;
}

#sobre_autor {
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

#sobre_autor .container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

#sobre_autor .container .cv_container {
  max-width: 45%;
  /* background-color: #012E40; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2em;
  border-left: #006d98 solid 8px;
}

#sobre_autor .container .title {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 600;
  text-align: center;
  color: #0d0d0d;
}

#sobre_autor .container .cv_container .name {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 600;
  color: #bf1534;
  margin-bottom: 0.4em;
}

#sobre_autor .container .cv_container .text {
  font-family: 'DM Sans', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #242424;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  text-align: justify;
}

#sobre_autor .container img {
  display: block;
  width: 500px;
}

#register {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

#lp_programacao {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-around;
}

#lp_programacao .section_container {
  background-color: #ffffff;
  color: #616161;
  padding: 3em 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: inside;
}

#lp_programacao .section_container .section_title {
  font-family: 'Montserrat', cursive;
  font-size: 4.2em;
  font-weight: 500;
  color: #012E40;
  text-align: center;
}

#lp_programacao .section_container .line {
  height: 2px;
  margin-bottom: 2em;
  background: linear-gradient(110deg, rgba(191, 21, 52, 0) 0%, #012e40 50%, rgba(93, 0, 0, 0) 100%);
}

#lp_programacao .section_container .line_list {
  height: 1.2px;
  background: rgb(144, 144, 144);
  background: linear-gradient(110deg, rgb(174 174 174) 0%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 1.6em;
  display: none;
}

#lp_programacao .section_container .text.dest {
  font-family: "Montserrat", sans-serif;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0;
  text-align: justify;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.5em;
}

#lp_programacao .section_container .text.dest .space {
  margin-right: 0.5em;
}

#lp_programacao .section_container .text {
  font-family: 'DM Sans', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #26272b;
  line-height: 1.4em;
  margin-bottom: 0;
  text-align: justify;
  margin-left: 2em;
  margin-top: 0;
  display: list-item;
}

#lp_garantia {
  height: auto;
  width: 100%;
  padding: 5% 10em;
}

#lp_garantia .container {
  background-color: #FFFBE8;
  border: 3px dashed #dcdcdc;
  border-radius: 20px;
  padding: 5em;
}

#lp_garantia .container .top {
  margin-bottom: 2em;
}

#lp_garantia .container .top .contend {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}

#lp_garantia .container .top .contend .msg {
  padding: 2em;
}

#lp_garantia .container .top .contend .msg .title {
  color: #333333;
  font-family: "Poppins", Sans-serif;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 0.2em;
}

#lp_garantia .container .top .contend .msg .subtitle {
  color: #333333;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.2em;
}

#lp_garantia .container .top .contend .msg .text {
  color: #323030;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
}

#lp_garantia .container .top .contend .selo img {
  width: 200px;
}

#lp_garantia .container .bottom {
  background-color: #FCEAC5;
  padding: 2em;
  border-radius: 20px;
  margin-top: 2em;
}

#lp_garantia .container .bottom .text {
  color: #323030;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
}


/*

PERGUNTAS FREQUENTES

*/

/*

    LP INFO SEÇÃO

*/

.lp_info {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #FFF;
  padding: 5em 5%;
}

.lp_info .section_title {
  font-family: 'Montserrat', cursive;
  font-size: 4.2em;
  font-weight: 500;
  color: #012E40;
  text-align: center;
}

.lp_info .line {
  height: 2px;
  margin-bottom: 3em;
  background: linear-gradient(110deg, rgba(191, 21, 52, 0) 0%, #012e40 50%, rgba(93, 0, 0, 0) 100%);
}

.transition,
ul li span:before,
ul li span:after,
p {
  transition: all 0.25s ease-in-out;
}

.flipIn,
ul li,
h1 {
  animation: flipdown 0.5s ease both;
}


h2 {
  line-height: 34px;
  display: block;
  margin: 0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

p {

  font-family: 'DM Sans', cursive;
  font-size: 1.4em;
  font-weight: 100;
  color: #515151;
  line-height: 1.2em;
  text-align: left;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

ul li {
  /* position: relative;
  border: 1px solid #dce7eb;
  padding: 1em;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; */

  position: relative;
  border: 1px solid #dce7eb;
  padding: 1em;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

ul li:nth-of-type(3) {
  animation-delay: 1s;
}

ul li:last-of-type {
  padding-bottom: 1em;
}

ul li span {
  position: relative;
  display: none !important;
}


ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
}

ul li input[type="checkbox"]:checked~p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

ul li input[type="checkbox"]:checked~span.icn::after {
  transform: translate(-2px, 0) rotate(270deg);
  -webkit-transform: translate(-2px, 0) rotate(270deg);
  -moz-transform: translate(-2px, 0) rotate(270deg);
  -ms-transform: translate(-2px, 0) rotate(270deg);
  -o-transform: translate(-2px, 0) rotate(270deg);
}



@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

/*

RESPONSIVIDADE

*/

@media screen and (min-width: 1800px) {
  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor {
    width: 40% !important;
  }
}


@media screen and (max-width: 1024px) {
  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor {
    width: 50% !important;
  }
}

@media screen and (max-width: 768px) {
  #lp_init__section>div.lp_face__container>div.contend>div.autora_img {
    display: none !important;
  }

  #lp_init__section>div.lp_face__container>div.contend>div.face_fx_container>img {
    width: 70% !important;
  }

  #lp_init__section>div.lp_face__container>div.contend>div.face_fx_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #lp_init__section .lp_face__container .lp_buttons {
    margin-top: 3rem !important;
    width: 90% !important;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor {
    display: none !important;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div.lp_barra_verm_container>div {
    display: none !important;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_logo_barra_azul>a>img {
    max-width: 20% !important;
  }

  #sobre_autor>.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  #sobre_autor .container img {
    display: block;
    width: 250px!important;
}
#sobre_autor {
  border-left: #006d98 solid 8px;
}
#sobre_autor .container .cv_container {
  max-width: 100%;
  height: auto;
  border-left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#sobre_autor .container .cv_container .text { 
  font-size: 1.5em;

}
#lp_programacao .section_container .text { 
  font-size: 1.5em;
  margin-left: 2.3em;
}
#lp_programacao .section_container .text.dest { 
  font-size: 1.7em;
}
#lp_sobre .section_container .section_title, #lp_programacao .section_container .section_title, .lp_info .section_title  { 
  font-size: 3.5em;
}

#lp_garantia {
  padding: 5% 5%;
}

#lp_garantia .container .top .contend {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#lp_garantia .container .top .contend .selo img {
  width: 150px!important;
}

#lp_garantia .container .top .contend .msg .title { 
  text-align: center;
  font-size: 3em;
}

#lp_garantia .container .top .contend .msg .subtitle { 
  text-align: center;
  font-size: 1.7em;
}

#lp_garantia .container .top .contend .msg .text { 
  font-size: 1.8em;
}
#lp_garantia .container .bottom .text {
  font-size: 1.5em;
}
#lp_sobre .event__description .box .container .title {
  font-size: 1.8em;
}
#lp_sobre .box .container .i_icon {
  font-size: 22px;
}

#lp_navbar .nav_buttons .button.menu-icon {
position: absolute;
    right: 0;
    top: 0;
}

}



@media screen and (min-width: 1440px) {
  #lp_init__section>div.lp_face__container>div.contend>div.face_fx_container>img {
    width: 500px;
  }

  #lp_init__section>div.lp_face__container>div.contend>div.autora_img>img {
    width: 400px;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor>h1 {
    font-size: 2.5em;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor>h2 {
    font-size: 1.5em;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor {
    width: 40%;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_logo_barra_azul>a>img {
    max-width: 15%;
  }

  #sobre_autor>div>img {
    width: 300px;
  }

  #lp_sobre .section_container .section_title {
    font-size: 3.8em;
  }

  #lp_sobre .section_container .text {
    font-size: 1.8em;
    text-align: left;
    line-height: 1em;
    margin-bottom: 0em;
  }

  #lp_programacao .section_container .section_title {
    font-size: 3.8em;
  }

  #lp_programacao .section_container .text {
    font-size: 1.8em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
  }

  #lp_init__section .bottom_bar_container .lp_barra_verm_container .lp_mzncursos_logo_barra_verm {
    width: 15%;
  }
}

@media screen and (max-width: 1440px) {
  #lp_init__section>div.lp_face__container>div.contend>div.face_fx_container>img {
    width: 400px;
  }

  #lp_init__section>div.lp_face__container>div.contend>div.autora_img>img {
    width: 300px;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor>h1 {
    font-size: 2em;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor>h2 {
    font-size: 1.2em;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor {
    width: 40%;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_logo_barra_azul>a>img {
    max-width: 15%;
  }

  #sobre_autor>div>img {
    width: 300px;
  }

  #lp_init__section .bottom_bar_container .lp_barra_verm_container .lp_mzncursos_logo_barra_verm {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  #lp_init__section>div.lp_face__container>div.contend>div.face_fx_container>img {
    width: 300px;
  }

  #lp_init__section>div.lp_face__container>div.contend>div.autora_img>img {
    width: 200px;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor>h1 {
    font-size: 1.7em;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor>h2 {
    font-size: 1em;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor {
    width: 40%;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_logo_barra_azul>a>img {
    max-width: 12%;
  }

  #sobre_autor>div>img {
    width: 300px;
  }
}

/* @media screen and (max-width: 768) {
  #lp_init__section>div.lp_face__container>div.contend>div.face_fx_container>img {
    width: 500px !important;
  }

  #lp_init__section>div.lp_face__container>div.contend>div.autora_img>img {
    display: none !important;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor>h1 {
    font-size: 2.5em;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor>h2 {
    font-size: 1.5em;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor {
    width: 45% !important;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_logo_barra_azul>a>img {
    max-width: 15%;
  }

  #sobre_autor>div>img {
    width: 300px !important;
  }

  #lp_sobre .section_container .section_title {
    font-size: 3.8em;
  }

  #lp_sobre .section_container .text {
    font-size: 1.8em;
    text-align: left;
    line-height: 1em;
    margin-bottom: 0em;
  }

  #lp_programacao .section_container .section_title {
    font-size: 3.8em;
  }

  #lp_programacao .section_container .text {
    font-size: 1.8em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
  }

  #lp_init__section .bottom_bar_container .lp_barra_verm_container .lp_mzncursos_logo_barra_verm {
    width: 15% !important;
  }
  #lp_init__section .lp_face__container .contend {
    justify-content: center;
  }
} */

@media screen and (max-width: 425px) {
  #lp_init__section>div.lp_face__container>div.contend>div.autora_img {
    display: none !important;
  }

  #lp_init__section>div.lp_face__container>div.contend>div.face_fx_container>img {
    width: 70% !important;
  }

  #lp_init__section>div.lp_face__container>div.contend>div.face_fx_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #lp_init__section .lp_face__container .lp_buttons {
    margin-top: 3rem !important;
    width: 90% !important;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_barra_nome_autor {
    display: none !important;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div.lp_barra_verm_container>div {
    display: none !important;
  }

  #lp_init__section>div.lp_face__container>div.bottom_bar_container>div:nth-child(1)>div>div.lp_mzncursos_logo_barra_azul>a>img {
    max-width: 50% !important;
  }

  #lp_sobre .section_container .text {
    font-size: 1.4em;
    font-weight: 100;
    color: #26272b;
    line-height: 1.2em;
    margin-bottom: 0;
    text-align: left;
  }

  #sobre_autor>.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  #sobre_autor .container img {
    display: block;
    width: 250px!important;
}
#sobre_autor {
  border-left: #006d98 solid 8px;
}
#sobre_autor .container .cv_container {
  max-width: 100%;
  height: auto;
  border-left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#sobre_autor .container .cv_container .text { 
  font-size: 1.5em;

}
#lp_programacao .section_container .text { 
  font-size: 1.5em;
  margin-left: 2.3em;
}
#lp_programacao .section_container .text.dest { 
  font-size: 1.7em;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
#lp_sobre .section_container .section_title, #lp_programacao .section_container .section_title, .lp_info .section_title  { 
  font-size: 3em;
}

#lp_garantia {
  padding: 5% 5%;
}

#lp_garantia .container .top .contend {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#lp_garantia .container .top .contend .selo img {
  width: 150px!important;
}

#lp_garantia .container .top .contend .msg .title { 
  text-align: center;
  font-size: 3em;
}

#lp_garantia .container .top .contend .msg .subtitle { 
  text-align: center;
  font-size: 1.7em;
}

#lp_garantia .container .top .contend .msg .text { 
  font-size: 1.8em;
}
#lp_garantia .container .bottom .text {
  font-size: 1.5em;
}
#lp_sobre .event__description .box .container .title {
   font-size: 1.5em;
}
#lp_sobre .box .container .i_icon {
  font-size: 22px;
}

#lp_sobre .event__description .box .container .text {
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.2em;
  margin-bottom: 0;
  text-align: left;
}

#perguntas > ul > li > h2 {
  line-height: normal;
  font-size: 1.4em;
}

#lp_garantia .container {
  padding: 2em;
}

#lp_navbar > div.nav_wrapper > a > img {
  display: none;
}

#lp_navbar .nav_buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#lp_navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

}



.btn_top {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
  margin: 3em;

}

.btn_top .icon {
  background: rgb(0 43 72);
  padding: 1em;
  border-radius: 50px;
  transform: rotate(270deg);
  font-size: 1em;
  color: #fff;
  border: 1px solid rgb(0 109 182);
  cursor: pointer;
}

.btn_top:hover .icon {
  background: rgb(0 103 173);
  border: 1px solid rgb(74 182 255);
  box-shadow: rgb(0 153 255) -1px 1px 6px 0px;
}