
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



@import "https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script";

@font-face {
  font-family: Coolvetica;
  src: url(/fonts/coolvetica/coolvetica_bold.otf);
  font-style:normal;
  font-weight: bold;
} 

@font-face {
  font-family: Coolvetica;
  src: url(/fonts/coolvetica/coolvetica_bold_italic.otf);
  font-style: italic;
  font-weight: bold;
} 

@font-face {
  font-family: Coolvetica;
  src: url(/fonts/coolvetica/coolvetica_normal.otf);
  font-style:normal;
  font-weight: normal;
} 

@font-face {
  font-family: Coolvetica;
  src: url(/fonts/coolvetica/coolvetica_semibold.otf);
  font-style:normal;
  font-weight:700;
} 

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {
  height: 100%;
}

body {
  color: #252934;
  background: #fafafa;
  font-size: 62.5%;
  font-family: "Overlock", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a,
a:visited {
  color: #252934;
  font-size: 1.4rem;
  text-decoration: none;
  transition: 200ms;
}

a:hover,
a:active {
  color: #f300b4;
}

/*
    NAV BAR
*/

.nav__active {
  background: #002b48;
}

#lp_navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#lp_navbar .nav_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 0 2rem;
}

#lp_navbar .nav_wrapper .edmzn_logo {
  font-size: 1.2rem;
  color: #fafafa;
  cursor: default;
}

/*
    PRIMEIRA SEÇÃO
*/

#lp_init__section {
  background: #202736;
  background: linear-gradient(to bottom, #002d48 0%, #001624 80%);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

#lp_init__section::before {
  content: "";
  position: absolute;
  background: url(/imgs/lp-background-azul.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  opacity: 0;
  animation: background-move-in 1000ms 300ms forwards;
  -webkit-animation: background-move-in 1000ms 300ms forwards;
}

@keyframes background-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

#lp_init__section .lp_face__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#lp_init__section .face_fx_container .face_fx_container {

}

#lp_init__section .lp_face__container .face_fx_container h1 {
  color: #ba111e;
  font-size: 14em;
  font-family: "Coolvetica";
  letter-spacing: 3px;
  line-height: 0.75em;
  white-space: nowrap;
	overflow: hidden;
  animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
	-webkit-animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
}

#lp_init__section .lp_face__container .face_fx_container h2 {
  color: #002d48;
  font-size: 10em;
  font-family: "Coolvetica";
  letter-spacing: 2px;
  line-height: 0.75em;
  white-space: nowrap;
	overflow: hidden;
  animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
	-webkit-animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
}

#lp_init__section .lp_face__container .face_fx_container h3 {
  color: #fff;
  font-size: 4em;
    font-family: "Coolvetica";
    letter-spacing: 1px;
    line-height: 0.75em;
    white-space: nowrap;
	overflow: hidden;
  animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
	-webkit-animation: digitacao 1.7s steps(28, end), barra .1s step-end infinite alternate;
}

#lp_init__section .lp_face__container .face_fx_container h3 .italic {
  font-style: italic;
  font-weight: bold;
}

#lp_init__section .lp_face__container .face_fx_container h4 {
  font-family: 'Montserrat', cursive;
  font-size: 3.3em;
  font-weight: 400;
  color: #ffffff;
}

@keyframes digitacao { 
  0% { width: 0; } 
}
@keyframes barra { 
  50% { border-color: transparent; } 
}

#lp_init__section .lp_face__container .autora_img img {
  max-width: 300px;
}

/*
#lp_init__section .lp_face__container img {
  width: fit-content;
  max-width: 500px;
  position: absolute;
  opacity: 0;
  transform: translate(0, -50%);
  top: 50%;
  animation: lp-face-img-move-in 1000ms 800ms forwards;
  -webkit-animation: lp-face-img-move-in 1000ms 800ms forwards;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}*/

@keyframes lp-face-img-move-in {
  from {
    left: -100%;
  }
  to {
    opacity: 1;
    left: 5%;
  }
}

#lp_sobre {
  height: 100vh;
  width: 100%;
}

#lp_sobre .section_container {
  background-color: #f2f2f2;
  color: #616161;
  padding: 3em 5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#lp_sobre .section_container .section_title {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 600;
  color: #0d0d0d;
}

#lp_sobre .section_container .text {
  font-family: 'DM Sans', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #252934;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  text-align: justify;
}

#lp_init__section .lp_info__container {
  /*width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;*/
  max-width: 500px;
  position: absolute;
  right: 0;
  top: 50%;
  right: 25%;
  opacity: 0;
  transform: translate(0, -50%);
  -webkit-animation: lp-info-fade-in 1000ms 800ms forwards;
  animation: lp-info-fade-in 1000ms 800ms forwards;
}

@keyframes lp-info-fade-in {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 25%;
  }
}

#lp_init__section .lp_info__container h1 {
    padding-bottom: 1.5rem;
    color: #fff;
    line-height: 1.9rem;
    font-weight: 100;
}

#lp_init__section .lp_info__container .lp_buttons {
    display: flex;
    margin-top: 1rem;
}

#lp_init__section .lp_info__container .lp_buttons .btn_more_info {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fafafa;
  border-radius: 4px;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 10px;
}

#lp_init__section .lp_info__container .lp_buttons .btn_signup {
  background: #ba111e;
  border: 1px solid #ba111e66;
  border-radius: 4px;
  color: #ffdcdc;
  font-weight: bold;
  margin: 0 10px;
}

#lp_init__section .lp_info__container .lp_buttons a,
#lp_init__section .lp_info__container .lp_buttons a:visited {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fafafa;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}

#lp_init__section .lp_info__container .lp_buttons .btn_more_info:hover,
#lp_init__section .lp_info__container .lp_buttons .btn_more_info:active,
#lp_init__section .lp_info__container .lp_buttons .btn_signup:hover,
#lp_init__section .lp_info__container .lp_buttons .btn_signup:active {
  border: 1px solid #ba111e;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 14px 9px 100px -10px #ff0014;
}

#lp_init__section .lp_info__container .lp_buttons .btn_signup.cta,
#lp_init__section .lp_info__container .lp_buttons .btn_signup.cta:visited {
  background: #ba111e;
  border: 1px solid transparent;
  color: #fafafa;
  font-weight: bold;
}

#lp_init__section .lp_info__container .lp_buttons .btn_signup.cta:hover,
#lp_init__section .lp_info__container .lp_buttons .btn_signup.cta:active {
  background: transparent;
  border: 1px solid #ba111e;
}

#lp_init__section .lp_info__container .lp_buttons .btn_signup:first-child {
  margin-right: 1rem;
}

/*

 2 PAGINA DA LP

*/
#lp_2page {
  height: 100%;
  min-height: 100vh;
  position: relative;
  background: #fff;
  /*-webkit-clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);
  clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);*/
  z-index: 5;
}


/*

    LP INFO SEÇÃO

*/

#lp_info {
min-height: 100vh;
    background-color: #fff;
    z-index: 5;
    background: url(/imgs/lp-background-cinza.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    min-height: 100vh;
    position: relative;
    background: #fafafa;
    -webkit-clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);
    clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);
    z-index: 5;
    
    background-attachment: fixed;

}

#lp_info .event__description {
  min-height: 100vh;
  padding: 10% 0;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
}

#lp_info .event__description .box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#lp_info .event__description .box .icon span {
  font-size: 42px;
  color: #252934;
  margin-bottom: 0.6em;
  padding: 0.4em;
  border-radius: 50px;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 1px;
}

#lp_info .event__description .box .container {
  display: block;
  position: relative;
  max-width: 400px;
  min-height: 100%;
  background-color: #ffffff54;
  border-left-color: #a2a2a2;
  border-left-style: solid;
  border-left-width: 1px;
  padding: 0 2em;
}

#lp_info .event__description .box .container:hover {
  border-color: #002d48;
  box-shadow: #39393947 -5px -2px 16px -7px;
  transition: 200ms;
}

#lp_info .event__description .box .container .title {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 300;
  color: #0d0d0d;
  margin-bottom: 1em;
}

#lp_info .event__description .box .container .title .line {
  border-bottom: 1px #9a9a9a solid;
}

#lp_info .event__description .box .container .text {
  font-family: 'DM Sans', cursive;
  font-size: 1.8em;
  font-weight: 100;
  color: #252934;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  text-align: justify;
}

/*

  SEÇÃO PUBLICO ALVO

*/

#lp_publico_alvo {
  background-color: #f2f2f2;
  color: #616161;
  padding: 100px 50px 100px 19%;
}

#lp_publico_alvo .section_container .section_title {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 600;
  color: #0d0d0d;
}

#lp_publico_alvo .section_container .text {
  font-family: 'DM Sans', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #252934;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  text-align: justify;
}

#lp_programa {
  height: 100vh;
  padding: 10% 10% 10% 19%;
}

#lp_programa .text_container {
  padding-left: 1em;
  border-left: 1px solid #a2a2a2;
}

#lp_programa .text_container .title {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 300;
  color: #0d0d0d;
  margin-bottom: 0.2em;
}

#lp_programa .text_container .text {
  font-family: 'DM Sans', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #252934;
  line-height: 1em;
  margin-bottom: 0.4em;
  text-align: justify;
}

#lp_programa .text_container .text.dest {
  font-family: "Montserrat", sans-serif;
  color: #2f2f2f;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0;
  margin-top: 1em;
}

#sobre_autor {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
#sobre_autor .container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#sobre_autor .container .cv_container {
  max-width: 50%;
}

#sobre_autor .container .title {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 600;
  text-align: center;
  color: #0d0d0d;
}

#sobre_autor .container .cv_container .name {
  font-family: 'Montserrat', cursive;
  font-size: 3.2em;
  font-weight: 600;
  color: #0d0d0d;
  margin-bottom: 0.4em;
}

#sobre_autor .container .cv_container .text {
  font-family: 'DM Sans', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #252934;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  text-align: justify;
}

#sobre_autor .container img {
  display: block;
  width: 300px;
}

#register {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}